@model IEnumerable<QuestionType>


    <a asp-controller="QuestionType" asp-action="Create" class="btn btn-primary btn-lg w-25 float-right mb-3 mr-5 text-dark" style="background-color:#CCD6A6; color:black; font-size:larger; font-weight:700" >
        Create QuestionType
    </a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="col-1 text-center">#</th>
          <th scope="col" class="col-4 text-center">QuestionType Name</th>
          <th scope="col" class="col-2 text-center">Order</th>
          <th scope="col" class=" text-center"  >options</th>
        </tr>
      </thead>
      <tbody>
            @{
                var i = 1;
            }
          @foreach(var obj in Model)
          {    
            
              <tr>
                    <td class="col-1 text-center" scope="row">@(i++)</td>
                <td class="col-4 text-center"  >@obj.QuestionTypes</td>
                <td class="col-2 text-center"  >
                        <a class="bg-transparent border-0 " style="font-size:1.5rem; color:green;" asp-action="upward" asp-route-id="@obj.Order"><i class="bi bi-caret-up-fill"></i></a>
                        <a class="bg-transparent border-0 " style="font-size:1.5rem; color:red;" asp-action="downward" asp-route-id="@obj.Order"><i class="bi bi-caret-down-fill"></i></a>

                </td>
                <td class=" text-center"  >
                       <a  class="btn ml-3 btn-primary" asp-controller="QuestionType" asp-action="Edit" asp-route-id="@obj.QuestionTypeId">Edit</a>
                           <a  class="btn ml-3 btn-danger" asp-controller="QuestionType" asp-action="Delete" asp-route-id="@obj.QuestionTypeId">Delete</a>
                </td>
              </tr>
          }
  
      </tbody>
    </table>


