@model BankForm.Models.ViewModels.QuestionVM

<a asp-controller="Question" asp-action="Create" asp-route-id="@Model.SectionFkId" class="btn btn-primary btn-lg w-25 float-right mb-3 mr-5 text-dark" style="background-color:#CCD6A6; color:black; font-size:larger; font-weight:700" >
    Create Question
</a>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col" class = "col-1 pt-4 text-center">sl no</th>
      <th scope="col" class = "col-4 text-center">Question</th>
      <th scope="col" class = "col-2 text-center">Type</th>
      <th scope="col" class = "col-2 text-center">Options</th>
      <th scope="col" class = "col-1 text-center">Display order</th>
      <th scope="col" class = "col-1 text-center">Settings</th>
    </tr>
  </thead>
  <tbody>
       @{
            int i = 1;
        }
        @foreach(var obj in Model.QuestionList)
        {
            //for retriving the questiontypes for showing in question Index view
            var temp = Model.QuestionTypeList.FirstOrDefault(u=> u.QuestionTypeId == obj.QuestionTypeId);
            var QuestionTypeShow = temp.QuestionTypes;
            var tempQuestionOptions = Model.QuestionOptionList.Where(v => v.FKQuestionId == obj.QuestionId);

            <tr>
              <td scope="row" class = "col-1 text-center">@(i++)</td>
              <td class = "col-2 text-center">@obj.QuestionName </td>
              <td class = "col-2 text-center QuestionTypeShow" >@QuestionTypeShow </td> 
              <td class = "col-2 text-center">
                    <div class="dropdown show QuestionOptionSet" >
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   --Question Options--
                        </a>

                            <div class="dropdown-menu p-2 bg-gradient text-center" aria-labelledby="dropdownMenuLink">
                            @foreach(var opt in tempQuestionOptions)
                            {
                                 <a class="dropdown-item font-weight-bold bg-white text-dark" >@opt.QuestionOptionName</a>
                            }

                                <a  class="btn btn-primary px-5 mt-3" asp-controller="QuestionOption" asp-action="Index" asp-route-questionid="@obj.QuestionId">Settings</a>
                        </div>
                    </div>
              </td> 
              <td class = "col-1 text-center my-5">

                    <a class="bg-transparent border-0 " style="font-size:1.5rem; color:green;" asp-action="upward" asp-route-id="@obj.Order"><i class="bi bi-caret-up-fill"></i></a>
                    <a class="bg-transparent border-0 " style="font-size:1.5rem; color:red;" asp-action="downward" asp-route-id="@obj.Order"><i class="bi bi-caret-down-fill"></i></a>
             
              </td>  
              <td class = "col-2 text-center">
                   <a  class="btn ml-3 btn-primary" asp-controller="Question" asp-action="Edit" asp-route-id="@obj.QuestionId">Edit</a>
                   <a  class="btn ml-3 btn-danger" asp-controller="Question" asp-action="Delete" asp-route-id="@obj.QuestionId">Delete</a>
                  @* <a  class="btn ml-3 btn-success" asp-controller="Question" asp-action="Create" asp-route-sectionid="@obj.QuestionId" >Create Questions</a> *@
              </td>
        
            </tr>



        }
    
  </tbody>
</table>

@section Scripts{
        <script src="~/js/Question.js"></script>
}

